Code A Cuisine (6).json
{
  "name": "Code A Cuisine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "935a2f3b-3b9f-4533-bd45-d2f976dcd56e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        0
      ],
      "id": "6018cee9-49d9-41cf-9cf0-3cf3b503931f",
      "name": "Webhook",
      "webhookId": "935a2f3b-3b9f-4533-bd45-d2f976dcd56e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a professional chef AI. The user sends you ingredients and cooking preferences.\nGenerate exactly 3 recipes and return ONLY a valid JSON array. No explanation, no markdown code blocks, no extra text — pure JSON only.\n\nEach recipe must follow this exact structure:\n[\n  {\n    \"id\": \"1\",\n    \"number\": 1,\n    \"title\": \"Recipe Title\",\n    \"description\": \"Short 1-2 sentence description\",\n    \"cuisine\": \"italian\",\n    \"time\": 20,\n    \"tags\": [\"Vegetarian\", \"Quick\"],\n    \"ingredients\": [\"320g Pasta\", \"400g Tomatoes\"],\n    \"extraIngredients\": [\"Fresh Basil\"],\n    \"directions\": [\n      { \"title\": \"Step title\", \"text\": \"Step description.\" }\n    ],\n    \"nutrition\": { \"calories\": 580, \"protein\": 16, \"fat\": 8, \"carbs\": 95 },\n    \"likes\": 0\n  }\n]\n\nRules:\n- cuisine must be lowercase (e.g. \"italian\", \"german\", \"japanese\", \"indian\", \"fusion\")\n- time is a number (minutes)\n- tags only from: Quick, Medium, Complex, Vegetarian, Vegan, Keto\n- id must be \"1\", \"2\", \"3\" as strings\n- number must be 1, 2, 3 as integers\n\nIngredients: {{ $('Webhook').item.json.body.ingredients }}\nPortions: {{ $('Webhook').item.json.body.portions }}\nPersons: {{ $('Webhook').item.json.body.persons }}\nCooking time: {{ $('Webhook').item.json.body.cookingTime }}\nCuisine: {{ $('Webhook').item.json.body.cuisine }}\nDiet: {{ $('Webhook').item.json.body.diet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "079d664e-4340-42f5-87ca-eff891eca692",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        0
      ],
      "id": "33a8d6d4-a9d1-4663-af1d-e5e4948ec4f9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        208
      ],
      "id": "3259a903-f4aa-4b74-9ee2-ffde1861ab15",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HIvgqAMYAvCxHkLT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d85b71a6-b9fa-499e-9a6d-8861d1018688",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01995ce7a7bfc75cfc6a0f2e6edd025af9b9a71880c140b9c72213d4834155d0"
  },
  "id": "boo3ArLhCj3fzy6x",
  "tags": []
}