n8n/workflow/workflow.json
{
  "name": "Code A Cuisine",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Internal workflow error\", \"code\": \"WORKFLOW_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        480
      ],
      "id": "c45447eb-8600-4304-8612-8391dde0507b",
      "name": "Respond - Workflow Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        480
      ],
      "id": "0d8649b0-c097-45ac-a135-2e68765a4f24",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"No ingredients provided\", \"code\": \"INVALID_INPUT\" }",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        336
      ],
      "id": "fc86929a-18f0-45dc-8968-dbc630dcead4",
      "name": "Respond - Invalid Input"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        192
      ],
      "id": "4043ed4f-075e-471c-bdb3-1c20246ac0a0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        0
      ],
      "id": "6794c4ce-2d8f-4fcd-be45-29968dfe9b81",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a recipe-generation API. Output ONLY a valid JSON array — no explanation, no markdown, no extra text.\n\nINPUTS (read carefully before generating):\n- Ingredients: {{ $('Webhook').item.json.body.ingredients }}\n  This is a comma-separated string like \"200g Pasta, 2pc Egg, 100ml Cream\".\n  The \"ingredients\" field in every recipe MUST contain ONLY items from this list.\n  Copy each ingredient EXACTLY as written — same name, same amount, same unit.\n  DO NOT add any ingredient not in this list — not even common ones like Tomato, Garlic, Pasta, Basil.\n  Anything not in this list goes into \"extraIngredients\" instead.\n- Portions: {{ $('Webhook').item.json.body.portions }}\n- Persons: {{ $('Webhook').item.json.body.persons }}\n- Cooking time: {{ $('Webhook').item.json.body.cookingTime }}\n- Cuisine: {{ $('Webhook').item.json.body.cuisine }}\n- Diet: {{ $('Webhook').item.json.body.diet }}\n\nTIME CONSTRAINT — this is absolute:\n- cookingTime=\"Quick\"   → \"time\" must be 5–20\n- cookingTime=\"Medium\"  → \"time\" must be 21–45\n- cookingTime=\"Complex\" → \"time\" must be 46–180\nIf cookingTime is \"Medium\" and you set time=15, that is wrong. Set time to a value between 21 and 45.\n\nGenerate exactly 3 recipes in this JSON structure:\n[\n  {\n    \"id\": \"1\",\n    \"number\": 1,\n    \"title\": \"Recipe Title\",\n    \"description\": \"1-2 sentence description.\",\n    \"cuisine\": \"german\",\n    \"time\": 30,\n    \"tags\": [\"Medium\"],\n    \"ingredients\": [\"200g Pasta\", \"2pc Egg\"],\n    \"extraIngredients\": [\"Water\", \"Pepper\"],\n    \"directions\": [\n      { \"title\": \"Step title\", \"text\": \"Do something for 10 minutes.\" }\n    ],\n    \"nutrition\": { \"calories\": 600, \"protein\": 30, \"fat\": 20, \"carbs\": 60 },\n    \"likes\": 0\n  }\n]\n\nRules:\n1. \"ingredients\": copy ingredient names EXACTLY as they appear in the Ingredients input. Never add new ones.\n2. \"extraIngredients\": anything the recipe needs that is NOT in the Ingredients input.\n3. \"time\": must satisfy the TIME CONSTRAINT above.\n4. \"cuisine\": lowercase, must match the Cuisine input.\n5. \"tags\": must include the cookingTime value (e.g. \"Medium\"). If diet is not \"No Preferences\", include it too. Only use: Quick, Medium, Complex, Vegetarian, Vegan, Keto.\n6. \"id\": \"1\", \"2\", \"3\" as strings. \"number\": 1, 2, 3 as integers.\n7. All text in English.\n8. Each direction step must include a duration (e.g. \"cook for 10 minutes\").\n9. If persons > 1, prefix parallel steps with \"Person 1:\", \"Person 2:\", shared steps with \"All:\".\n10. If diet contradicts an ingredient (e.g. \"Vegan\" with \"Beef\"), skip that ingredient and still return 3 valid recipes.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "c254f008-d91a-4349-83a9-96a45f9dd19c",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f217ead1-a4bf-4832-b01d-7cce341d4948",
              "leftValue": "={{ $json.body.ingredients }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        112
      ],
      "id": "fad16db0-3e45-4c97-a59c-c4ac2dfbfd06",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"quotaExceeded\": true, \"type\": \"global\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -432,
        384
      ],
      "id": "2fb4bd8f-e98e-488b-943f-f0de0cb60ac1",
      "name": "Respond - Quota Exceeded"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa11bb22-cc33-dd44-ee55-ff6677889900",
              "leftValue": "={{ $json.quotaStatus }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        112
      ],
      "id": "4389c0fa-96ba-4f46-8920-14e169426333",
      "name": "Quota OK?"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500\u2500 SERVER-SIDE GLOBAL QUOTA CHECK \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Requires n8n 0.218+  ($http helper available in Code nodes)\n//\n// HOW TO CONFIGURE:\n//   1. Set PROJECT_ID  \u2192 Firebase console \u2192 Project settings \u2192 Project ID\n//   2. Set API_KEY     \u2192 Firebase console \u2192 Project settings \u2192 Web API Key\n//   3. Make sure your Firestore rules allow reads for the 'recipes' collection\n//      without authentication (the Web API Key does NOT bypass security rules).\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nconst GLOBAL_LIMIT = 12;\nconst PROJECT_ID   = 'YOUR_FIREBASE_PROJECT_ID';\nconst API_KEY      = 'YOUR_FIREBASE_API_KEY';\n\n// Extract client IP\nconst ip = $input.item.json.headers?.['x-forwarded-for']?.split(',')[0]?.trim()\n         || $input.item.json.headers?.['x-real-ip']\n         || 'unknown';\n\n// Today midnight UTC as ISO string (e.g. \"2026-03-14T00:00:00.000Z\")\nconst now        = new Date();\nconst todayStart = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate()));\nconst todayISO   = todayStart.toISOString();\n\n// Query Firestore: count recipes created today\nlet globalCount = 0;\ntry {\n  const response = await $http.request({\n    method:  'POST',\n    url:     'https://firestore.googleapis.com/v1/projects/' + PROJECT_ID + '/databases/(default)/documents:runQuery?key=' + API_KEY,\n    headers: { 'Content-Type': 'application/json' },\n    body:    JSON.stringify({\n      structuredQuery: {\n        from:  [{ collectionId: 'recipes' }],\n        where: {\n          fieldFilter: {\n            field: { fieldPath: 'createdAt' },\n            op:    'GREATER_THAN_OR_EQUAL',\n            value: { timestampValue: todayISO }\n          }\n        },\n        limit: GLOBAL_LIMIT + 1\n      }\n    })\n  });\n\n  // Firestore runQuery returns an array; non-empty results have a 'document' field.\n  const results  = Array.isArray(response) ? response : [response];\n  globalCount    = results.filter(r => r && r.document).length;\n} catch (e) {\n  // If the quota check itself fails (network issue, wrong credentials, etc.),\n  // we fail open so users are not blocked due to an infrastructure error.\n  globalCount = 0;\n}\n\nconst quotaStatus = globalCount >= GLOBAL_LIMIT ? 'QUOTA_EXCEEDED:global' : 'ok';\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    ip,\n    todayISO,\n    globalCount,\n    quotaStatus\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        112
      ],
      "id": "ac27b62a-ebc2-44a6-9a4d-eb0d16d2ec9b",
      "name": "Check Global Quota"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        112
      ],
      "id": "978eea3e-cc6f-4666-824d-456701883a7c",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_PATH"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond - Workflow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quota OK?": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Global Quota": {
      "main": [
        [
          {
            "node": "Quota OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Global Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}