n8n/workflow/workflow.json
{
  "name": "Code A Cuisine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        384,
        928
      ],
      "id": "0b3e11d9-34b9-4c9f-886f-463f393a8e79",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_PATH"
    },
    {
      "parameters": {
        "jsCode": "// ─── SERVER-SIDE GLOBAL QUOTA CHECK ───────────────────────────────────────\n// Requires n8n 0.218+  ($http helper available in Code nodes)\n//\n// HOW TO CONFIGURE:\n//   1. Set PROJECT_ID  → Firebase console → Project settings → Project ID\n//   2. Set API_KEY     → Firebase console → Project settings → Web API Key\n//   3. Make sure your Firestore rules allow reads for the 'recipes' collection\n//      without authentication (the Web API Key does NOT bypass security rules).\n// ─────────────────────────────────────────────────────────────────────────────\n\nconst GLOBAL_LIMIT = 12;\nconst PROJECT_ID   = 'YOUR_FIREBASE_PROJECT_ID';\nconst API_KEY      = 'YOUR_FIREBASE_API_KEY';\n\n// Extract client IP\nconst ip = $input.item.json.headers?.['x-forwarded-for']?.split(',')[0]?.trim()\n         || $input.item.json.headers?.['x-real-ip']\n         || 'unknown';\n\n// Today midnight UTC as ISO string (e.g. \"2026-03-14T00:00:00.000Z\")\nconst now        = new Date();\nconst todayStart = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate()));\nconst todayISO   = todayStart.toISOString();\n\n// Query Firestore by clientIp; filter by date in JS to avoid composite index\nlet globalCount = 0;\ntry {\n  const response = await $http.request({\n    method:  'POST',\n    url:     'https://firestore.googleapis.com/v1/projects/' + PROJECT_ID + '/databases/(default)/documents:runQuery?key=' + API_KEY,\n    headers: { 'Content-Type': 'application/json' },\n    body:    JSON.stringify({\n      structuredQuery: {\n        from:  [{ collectionId: 'recipes' }],\n        where: {\n          fieldFilter: {\n            field: { fieldPath: 'clientIp' },\n            op:    'EQUAL',\n            value: { stringValue: ip }\n          }\n        }\n      }\n    })\n  });\n\n  const results = Array.isArray(response) ? response : [response];\n  globalCount = results.filter(r => {\n    if (!r?.document?.fields?.createdAt?.timestampValue) return false;\n    return new Date(r.document.fields.createdAt.timestampValue) >= new Date(todayISO);\n  }).length;\n} catch (e) {\n  globalCount = 0;\n}\n\nconst quotaStatus = globalCount >= GLOBAL_LIMIT ? 'QUOTA_EXCEEDED:global' : 'ok';\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    ip,\n    todayISO,\n    globalCount,\n    quotaStatus\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        1056
      ],
      "id": "d6c55ce2-70ec-4636-8c66-07083376f1f9",
      "name": "Check Global Quota"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa11bb22-cc33-dd44-ee55-ff6677889900",
              "leftValue": "={{ $json.quotaStatus }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        1056
      ],
      "id": "e61ec1dd-905b-435d-a293-2b42058db59a",
      "name": "Quota OK?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"quotaExceeded\": true, \"type\": \"global\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1072,
        1104
      ],
      "id": "cf5c28eb-5cc6-4754-bc4b-60c730de639d",
      "name": "Respond - Quota Exceeded"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f217ead1-a4bf-4832-b01d-7cce341d4948",
              "leftValue": "={{ $json.body.ingredients }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        912
      ],
      "id": "fcd3d438-4e51-486d-9d27-a7c8c2a5205d",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.text.replace(/^```json\\s*\\n?/, '').replace(/\\n?```\\s*$/, '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2096,
        816
      ],
      "id": "7876bb9b-5992-42ea-9727-0f5706f4b0e5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"No ingredients provided\", \"code\": \"INVALID_INPUT\" }",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        1008
      ],
      "id": "abe33c45-4f27-4b4a-ba68-713cc94f0c06",
      "name": "Respond - Invalid Input"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1760,
        1280
      ],
      "id": "0217dbc0-8f5f-4ac8-9ba4-b6c3e47b12ed",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Internal workflow error\", \"code\": \"WORKFLOW_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1984,
        1280
      ],
      "id": "f9d5635a-86ef-4560-b8f8-09c0d49ca756",
      "name": "Respond - Workflow Error"
    },
    {
      "parameters": {
        "content": "*TEST* \n\nohne Limit",
        "height": 80,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        688
      ],
      "typeVersion": 1,
      "id": "28c17e34-50f4-40bd-bb43-1789f4de421b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "*PUBLIC*\n\nmit Limit",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        960
      ],
      "typeVersion": 1,
      "id": "4c679245-e6f0-4883-be7c-4e5bc961a1af",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// ─── SERVER-SIDE GLOBAL QUOTA CHECK ───────────────────────────────────────\n// Requires n8n 0.218+  ($http helper available in Code nodes)\n//\n// HOW TO CONFIGURE:\n//   1. Set PROJECT_ID  → Firebase console → Project settings → Project ID\n//   2. Set API_KEY     → Firebase console → Project settings → Web API Key\n//   3. Make sure your Firestore rules allow reads for the 'recipes' collection\n//      without authentication (the Web API Key does NOT bypass security rules).\n// ─────────────────────────────────────────────────────────────────────────────\n\nconst GLOBAL_LIMIT = 12;\nconst PROJECT_ID   = 'YOUR_FIREBASE_PROJECT_ID';\nconst API_KEY      = 'YOUR_FIREBASE_API_KEY';\n\n// Extract client IP\nconst ip = $input.item.json.headers?.['x-forwarded-for']?.split(',')[0]?.trim()\n         || $input.item.json.headers?.['x-real-ip']\n         || 'unknown';\n\n// Today midnight UTC as ISO string (e.g. \"2026-03-14T00:00:00.000Z\")\nconst now        = new Date();\nconst todayStart = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate()));\nconst todayISO   = todayStart.toISOString();\n\n// Query Firestore: count recipes created today\nlet globalCount = 0;\ntry {\n  const response = await $http.request({\n    method:  'POST',\n    url:     'https://firestore.googleapis.com/v1/projects/' + PROJECT_ID + '/databases/(default)/documents:runQuery?key=' + API_KEY,\n    headers: { 'Content-Type': 'application/json' },\n    body:    JSON.stringify({\n      structuredQuery: {\n        from:  [{ collectionId: 'recipes' }],\n        where: {\n          fieldFilter: {\n            field: { fieldPath: 'createdAt' },\n            op:    'GREATER_THAN_OR_EQUAL',\n            value: { timestampValue: todayISO }\n          }\n        },\n        limit: GLOBAL_LIMIT + 1\n      }\n    })\n  });\n\n  // Firestore runQuery returns an array; non-empty results have a 'document' field.\n  const results  = Array.isArray(response) ? response : [response];\n  globalCount    = results.filter(r => r && r.document).length;\n} catch (e) {\n  // If the quota check itself fails (network issue, wrong credentials, etc.),\n  // we fail open so users are not blocked due to an infrastructure error.\n  globalCount = 0;\n}\n\nconst quotaStatus = 'ok';\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    ip,\n    todayISO,\n    globalCount,\n    quotaStatus\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        784
      ],
      "id": "ae7679d6-5706-41b7-bb8b-9391941dc612",
      "name": "Check Global Quota Test"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa11bb22-cc33-dd44-ee55-ff6677889900",
              "leftValue": "={{ $json.quotaStatus }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        784
      ],
      "id": "f85177cd-46aa-412e-a61c-7b5da572b8c6",
      "name": "Quota OK? Test"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "717ef2b0-e4bc-4dea-9b3c-86f9482d3db5",
              "name": "ingredients",
              "value": "={{ $json.body.ingredients }}",
              "type": "string"
            },
            {
              "id": "71dd3f14-d197-4754-bc17-a9747598da8d",
              "name": "portions",
              "value": "={{ $json.body.portions }}",
              "type": "string"
            },
            {
              "id": "4b35f5a3-f099-4673-9408-d49a86129d59",
              "name": "persons",
              "value": "={{ $json.body.persons }}",
              "type": "string"
            },
            {
              "id": "98662eb2-2ecc-44fc-af86-02b8135896b4",
              "name": "cookingTime",
              "value": "={{ $json.body.cookingTime }}",
              "type": "string"
            },
            {
              "id": "3aeca99f-2b8a-48f7-a804-8a49da1124ca",
              "name": "cuisine",
              "value": "={{ $json.body.cuisine }}",
              "type": "string"
            },
            {
              "id": "daa67213-b48d-4070-b160-178393cdcafc",
              "name": "diet",
              "value": "={{ $json.body.diet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        816
      ],
      "id": "7d96db47-f063-4df0-a20b-fd139b70e6bf",
      "name": "Extract Request Fields"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\n\nconst prompt = `You are a recipe-generation API. Output ONLY a raw JSON array. NO markdown. NO code blocks. NO backticks. Start your response with [ and end with ]. No text before or after.\n\nINPUTS (read carefully before generating):\n- Ingredients: ${d.ingredients}\n  The \"ingredients\" field in every recipe MUST contain ONLY items from this list.\n  Copy each ingredient EXACTLY as written — same name, same amount, same unit.\n  DO NOT add any ingredient not in this list — not even common ones like Salt, Oil, Water.\n  Anything not in this list goes into \"extraIngredients\" instead.\n- Portions: ${d.portions}\n- Persons: ${d.persons}\n- Cooking time: ${d.cookingTime}\n- Cuisine: ${d.cuisine}\n- Diet: ${d.diet}\n\nTIME CONSTRAINT — this is absolute:\n- cookingTime=\"Quick\"   → \"time\" must be 5–20\n- cookingTime=\"Medium\"  → \"time\" must be 21–45\n- cookingTime=\"Complex\" → \"time\" must be 46–180\nWRONG: cookingTime=\"Quick\" with time=30, cookingTime=\"Medium\" with time=15, cookingTime=\"Complex\" with time=25\nCORRECT: cookingTime=\"Complex\" → e.g. 90. cookingTime=\"Quick\" → e.g. 15. cookingTime=\"Medium\" → e.g. 35.\n\nGenerate exactly 3 recipes in this JSON structure:\n[\n  {\n    \"id\": \"1\",\n    \"number\": 1,\n    \"title\": \"Recipe Title\",\n    \"description\": \"1-2 sentence description.\",\n    \"cuisine\": \"<lowercase cuisine from input>\",\n    \"time\": 90,\n    \"tags\": [\"Complex\"],\n    \"ingredients\": [\"<ingredient from input>\"],\n    \"extraIngredients\": [\"<anything else needed>\"],\n    \"directions\": [\n      { \"title\": \"Step title\", \"text\": \"Do something for 10 minutes.\" }\n    ],\n    \"nutrition\": { \"calories\": 600, \"protein\": 30, \"fat\": 20, \"carbs\": 60 },\n    \"likes\": 0\n  }\n]\n\nRules:\n1. \"ingredients\": copy ingredient names EXACTLY as they appear in the Ingredients input. Never add new ones.\n2. \"extraIngredients\": anything the recipe needs that is NOT in the Ingredients input.\n3. \"time\": must satisfy the TIME CONSTRAINT above. Re-check before outputting.\n4. \"cuisine\": lowercase, must match the Cuisine input.\n5. \"tags\": must include the cookingTime value. Include the diet tag ONLY if ALL provided ingredients are compatible with that diet. Only use: Quick, Medium, Complex, Vegetarian, Vegan, Keto.\n6. \"id\": \"1\", \"2\", \"3\" as strings. \"number\": 1, 2, 3 as integers.\n7. All text in English.\n8. Each direction step must include a duration.\n9. MULTI-PERSON DIRECTIONS (persons > 1): Divide the recipe into exactly 3–4 rounds. For each round output exactly ${d.persons} consecutive entries — one per person, each with its OWN unique \"title\" describing that person's specific task. Each entry's \"text\" is 2–4 sentences covering everything that person does during that round. NEVER write \"Person X:\", \"Chef X:\", \"Person 1:\" or any person label inside the text. Total entries = rounds × persons. Example (persons=2, 2 rounds): [{\"title\":\"Melt the Cheese\",\"text\":\"Grate the cheese finely, then warm the milk in a saucepan over low heat. Stir in the cheese constantly until fully melted and smooth, about 5 minutes.\"},{\"title\":\"Cook the Pasta\",\"text\":\"Zest and juice the lemon. Bring a large pot of salted water to a boil and cook the pasta until al dente, about 10 minutes.\"},{\"title\":\"Season & Combine\",\"text\":\"Stir the lemon zest into the sauce, then toss in the drained pasta. Season with thyme and black pepper and mix for 2 minutes.\"},{\"title\":\"Drain & Plate\",\"text\":\"Drain the pasta and add a splash of pasta water to the sauce to adjust consistency. Portion into bowls and garnish with lemon slices.\"}].\n10. NEVER skip a provided ingredient. Use ALL ingredients from the input list in every recipe, regardless of diet. If the diet is incompatible with some ingredients, simply omit the diet tag from \"tags\" (per rule 5). The ingredients always take priority.`;\n\nreturn [{ json: { ...d, prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        816
      ],
      "id": "dd5d2e80-5a2c-4879-b893-a26e9853335a",
      "name": "Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1760,
        816
      ],
      "id": "1d9cc98a-7c26-416b-ab39-79d5ffa2ade0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1696,
        1008
      ],
      "id": "8a7555e7-4197-43f8-a8c5-a1a610a9aa4d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Global Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Global Quota": {
      "main": [
        [
          {
            "node": "Quota OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quota OK?": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Extract Request Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond - Workflow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Global Quota Test": {
      "main": [
        [
          {
            "node": "Quota OK? Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quota OK? Test": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Fields": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}